.container {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.header {
  background-color: #282c34;
  padding: 60px 0;
  text-align: center;
  width: 100%;
}

.header h1 {
  color: #61dafb;
  font-size: 2.5rem;
}

.header p {
  color: white;
  font-size: 1.2rem;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  width: 100%;
}

.featureCard {
  text-align: center;
  width: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.featureCard h2 {
  color: #333;
}

.featureCard p {
  color: #777;
}


/* ... existing styles ... */

.footer {
  background-color: #222; /* Change background color */
  color: #fff;
  text-align: center;
  padding: 40px 0; /* Increased padding */
  width: 100%; /* Extend width across the bottom */
  position: absolute;
  bottom: 0;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerSocial {
  margin-bottom: 20px;
}

.socialIcon {
  display: inline-block;
  margin: 0 10px;
}

.socialIcon img {
  width: 30px;
  height: 30px;
}

.footerLinks {
  margin-top: 20px;
}

.footerLinks a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.footerLinks a:last-child {
  margin-right: 0;
}




/* Custom cursor styles */
.custom-cursor {
  width: 20px;
  height: 20px;
  border: 10px solid #61dafb;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}

/* ... existing styles ... */

.testimonials {
  text-align: center;
  margin: 50px 0;
}

.testimonials h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.testimonialCard {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.testimonialCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonialCardContent p {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.testimonialAuthor {
  font-size: 1rem;
  color: #777;
  margin-top: 10px;
}

